# Node modules
node_modules/

# NPM/Yarn lock
package-lock.json

# Staged changes
staged_changes.diff

# IDE (WebStorm/IntelliJ IDEA)
.idea/
/git_log.txt
/staged_changes.diff
/coverage/
/project_structure.json
scan_project.mjs
